<!DOCTYPE html>
<html>

<head>
    <title>TOMTOM NEXT</title>
    <link rel="stylesheet" href="../static/CSS/dashboard.css">
</head>

<body>
    <!-- <div class="loggedin">
            <p>User : <strong>Pushkar Helge</strong>!</p>
        </div> -->
    <nav id="navbar">
        <ul>
            <!-- li.item{<a></a>}*4  -->
            <li class="item"><a href="#home">Home</a></li>
            <li class="item"><a href="">Services</a></li>
            <!-- <li class="item"><a href="#client-section">Our Clients</a></li> -->
            <li class="item"><a href="">About us</a></li>
            <li class="item"><a href="./guidelines.html">Guidelines</a></li>
            <li style="position: relative;left: 800px;"><a href="./login.html">Login</a></li>
            <li style="position: relative;left: 780px;"><a href="./signup.html">Sign up</a></li>
                
            </ul>
        </ul>
        
        <!-- <button class="btn1">Pushkar Helge</button>
            <a href="./login.html"><button class="btn">Log out</button></a> -->
            
    </nav>


    <header>

        <div id="heading">
            <!-- <div class="services"> -->
            <h1>Welcome to TOM TOM Solutions!</h1>
            <p>We offer a variety of services to help plan and manage your trips.</p>
        </div>

        <!-- <div class="services">
            <h2>Create a Trip</h2>
            <p>Use our trip planner to create and customize your own trip itinerary.</p>
            <a href="http://127.0.0.1:8080/dist/routing-with-summary.html">
                <button class="btn2"> Click Here</button></a>
        </div>

        <div class="services">
            <h2>View Current Trip</h2>
            <p>Access and view your current trip details and itinerary at any time.</p>
            <button class="btn2"> Click Here</button>
        </div>

        <div class="services">
            <h2>View Previous Trips Data</h2>
            <p>View and analyze data from your previous trips to help plan future trips.</p>
            <button class="btn2"> Click Here</button>
        </div>

        <div class="services">
            <h2>View Nearby Places</h2>
            <p>Stay safe on your trip by visiting the nearest places.</p>
            <a href="http://127.0.0.1:8080/dist/matrix-routing.html">
                <button class="btn2"> Click Here</button></a>
        </div> -->
    </header>

    <section id="services-container">
        <h1 class="h-primary center">Our Services</h1>
        <div id="services">
            <div class="box">
                <h2 class="h-secondary center">Create a Trip</h2>
                <p class="center">Use our trip planner to create and customize your own trip itinerary.</p>
                <a href="http://127.0.0.1:8080/dist/routing-with-summary.html">
                    <button class="btn2"> Click Here</button></a>
            </div>

            <div class="box">
                <!-- <img src="img/2.png" alt=""> -->
                <h2 class="h-secondary center">View Current Trip</h2>
                <p class="center">Access and view your current trip details and itinerary at any time.</p>
                <a href="http://127.0.0.1:8080/dist/tripplan2.html">
                    <button class="btn2"> Click Here</button></a>
            </div>

            <div class="box">
                <!-- <img src="img/3.png" alt=""> -->
                <h2 class="h-secondary center">View Nearby Places</h2>
                <p class="center">Stay safe on your trip by visiting the nearest places. Discover your locality</p>
                <a href="http://127.0.0.1:8080/dist/matrix-routing.html">
                    <button class="btn2"> Click Here</button></a>
            </div>
        </div>
</body>

</html>